{% extends "base.html" %}
{% block content %}
<h4>ATM詳細資料</h4>
<p><strong>ATM 名稱:</strong> {{ atm.atm_name }}</p>
<p><strong>地址:</strong> {{ atm.city_town.city }} {{ atm.city_town.town }} {{ atm.address.address }}</p>
<p><strong>英文地址:</strong> {{ atm.address.english_address }}</p>
<p><strong>緯度:</strong> {{ atm.address.latitude }}</p>
<p><strong>經度:</strong> {{ atm.address.longitude }}</p>
<p><strong>ATM 編號:</strong> {{ atm.atm_code }}</p>
<p><strong>類型:</strong> {{ atm.type }} {{ atm.category }}</p>
<p><strong>ATM 安裝於:</strong> {{ atm.atm_install }}</p>
<p><strong>聯絡電話:</strong> {{ atm.phone }}</p>
<p><strong>服務類型:</strong> {{ atm.service_type }}</p>
<p><strong>是否提供輪椅服務:</strong> {{ atm.use_wheel }}</p>
<p><strong>是否提供語音服務:</strong> {{ atm.voice }}</p>
{% endblock %}