{% extends "base.html" %}
{% block content %}
<style>
    img{
        height: 500px; 
        max-width: 100%; 
    }
    h1{
        text-align: center; 
        margin-left: 10px;
    }
    .marquee {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        box-sizing: border-box;
        animation: marquee 15s linear infinite;
    }

    @keyframes marquee {
        from { transform: translateX(100%); }
        to { transform: translateX(-100%); }
    }
    .cubre-m-quickLink__img{
        width: 100px;
        height: 100px;
    }
    .cubre-m-quickLink {
        padding: 40px 15px;
        position: relative;
        width: 200px; 
        height: 200px; 
        box-sizing: border-box;
        display: block;
        border-radius: 5px;
        box-shadow: -3px -3px 19px 0 rgba(74, 178, 52, .1), 15px 15px 30px 0 rgba(0, 153, 78, .1);
        background-color: rgba(255, 255, 255, .5);
        transition: .3s;
    }
    .cubre-m-quickLink:hover{
        background: #b3d4fc;
        text-shadow: none;
    }
    #lnk_Link {
        text-decoration: none;
    }
</style>
{% load static %}
<div class="marquee">
    <h4>最新公告：歡迎訪問我們的銀行主頁！目前我們提供貸款優惠活動，詳情請諮詢客服。| 新聞：本行榮獲最佳客戶服務獎！</h4>
</div>
<h1>ATM主頁面</h1>
<img src="{%static '/img/atm.jpg' %}" alt="">

<a href="{% url 'rate' %}" rel="noreferrer noopener" data-ga-quick-link="-" class="cubre-m-quickLink" id="lnk_Link">
    <div class="cubre-m-quickLink__icon">
        <img src="{%static 'img/exchange.svg'%}" class="cubre-m-quickLink__img" alt="" id="img_C348B7E06EDC4C3788CCAD0CEB9F28ED">
    </div>
    <div class="cubre-m-quickLink__text" data-ga-quick-link-text="">
        <span class="exchange-rate-text">匯率查詢</span>
    </div>
</a>

  

<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>通過社交媒體與我們聯繫：</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="https://facebook.com" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://plus.google.com" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="https://instagram.com" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://linkedin.com" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>銀行名稱
            </h6>
            <p>
              您可信賴的金融合作伙伴，提供全面的銀行服務和金融解決方案，滿足您的所有財務需求。
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              產品
            </h6>
            <p>
              <a href="#!" class="text-reset">儲蓄帳戶</a>
            </p>
            <p>
              <a href="#!" class="text-reset">貸款</a>
            </p>
            <p>
              <a href="#!" class="text-reset">信用卡</a>
            </p>
            <p>
              <a href="#!" class="text-reset">投資理財</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              常用連結
            </h6>
            <p>
              <a href="#!" class="text-reset">帳戶管理</a>
            </p>
            <p>
              <a href="#!" class="text-reset">幫助中心</a>
            </p>
            <p>
              <a href="#!" class="text-reset">分行網點</a>
            </p>
            <p>
              <a href="#!" class="text-reset">隱私政策</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">聯繫我们</h6>
            <p><i class="fas fa-home me-3"></i> 台北市內湖區XX路123号</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              atm@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> (02) 1234-5678</p>
            <p><i class="fas fa-print me-3"></i> (02) 1234-9876</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
  </footer>
  <!-- Footer -->
  
{% endblock %}

